body {
  font-family: 'Playfair Display', serif;
}

#quote-box {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
  padding: 1rem 0.5rem;
  width: 600px;
  max-width: 90vw;
  border-radius: 5px;
}

#text {
  display: flex;
  align-items: center;
}

#text > .fa-solid, #quote-text {
  text-align: center;
}

#author {
  
}

#buttons {
  
}

#new-quote {
  font-weight: bold;
}

#icon {
  height: 38px;
  width: 38px;
}

#by {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: -30px;
  left: 0;
  text-align: center;
  font-size: 0.8rem;
}
