body {
  font-family: 'Playfair Display', serif;
}

#quote-box {
  display: none;  /* => flex */
  flex-direction: column;
  position: relative;
  margin: 3rem auto;
  padding: 1.5rem 1.5rem;
  width: 38rem;
  max-width: 80%;
  border-radius: 0.3rem;
}

#text {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  font-size: calc(1.8rem + 1.5vw);
  font-weight: 400;
}

#text > .fa, #quote-text {
  text-align: center;
}

#text > .fa {
  width: 16%;
}

#quote-text {
  width: 68%;
}

#author {
  text-align: right;
  font-size: 1.4rem;
  margin: 1rem 0;
}

#buttons {
  display: flex;
  margin-bottom: 0;
}

#new-quote {
  flex: 1 0 auto;
  font-weight: bold;
}

#new-quote > button {
  background: none;
  border: none;
  height: 100%;
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;
  font-weight: 700;
  cursor: pointer;
}

/*
#tweet-quote {
  text-decoration: none;
}

.icon {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 2.4rem;
  width: 2.4rem;
  font-size: 1.6rem;
}
*/

#by {
  position: absolute;
  width: 100%;
  height: 1.25rem;
  bottom: -1.25rem;
  left: 0;
  text-align: center;
  font-size: 0.9rem;
}

@media (orientation: portrait) and (max-device-width: 600px) {
  :root {
    font-size: 24px;
  }
}

@media (orientation: portrait) and (max-device-width: 414px) {
  :root {
    font-size: 32px;
  }
}